.myLoader{
        position:absolute; padding: 5px;
        margin:100px 0 0 5%; width:auto;
        z-index:1000; font-size:12px; font-weight:bold;
        border:1px solid #666; background:#ffffcc;
        vertical-align:middle;
    }
    .myStatus{
        width:auto; display:block;
    }